In [1]:
import requests

url = "https://covid-19-tracking.p.rapidapi.com/v1"

headers = {
    'x-rapidapi-key': "d30c9b20a1mshf7b0cf45d9eb8c4p1b1d51jsn7724536d9cb5",
    'x-rapidapi-host': "covid-19-tracking.p.rapidapi.com"
    }

response = requests.request("GET", url, headers=headers)
try:
    data = eval(response.text)
except Exception as e:
    print(e)

In [ ]:
data

In [6]:
type(data)

dict

In [7]:
eval(data)

TypeError: eval() arg 1 must be a string, bytes or code object

In [6]:
import json
import pandas as pd
d=pd.read_csv('state_wise.csv')
d

In [4]:
d

,State,Confirmed,Recovered,Deaths,Active,Last_Updated_Time,Migrated_Other,State_code,Delta_Confirmed,Delta_Recovered,Delta_Deaths,State_Notes
0,Total,31693651,30846564,424778,409773,01/08/2021 21:44:08,12536,TT,38910,33510,394,NaN
1,Andaman and Nicobar Islands,7537,7400,129,8,30/07/2021 22:11:09,0,AN,0,0,0,NaN
2,Andhra Pradesh,1968462,1934048,13395,21019,01/08/2021 19:11:11,0,AP,2287,2430,18,NaN
3,Arunachal Pradesh,48122,43939,229,3954,31/07/2021 23:09:07,0,AR,0,0,0,[July 25]: All numbers corresponding to Papum ...
4,Assam,566198,547616,5260,11975,31/07/2021 22:41:10,1347,AS,0,0,0,[Jan 1]: 1347 cases i.e Covid +'tive patients ...
5,Bihar,724835,714735,9643,456,31/07/2021 21:30:09,1,BR,0,0,0,[June 9] : 3951 deceased cases have been repor...
6,Chandigarh,61954,61113,811,30,01/08/2021 20:30:32,0,CH,1,2,0,NaN
7,Chhattisgarh,1002008,986621,13524,1863,31/07/2021 21:30:12,0,CT,0,0,0,NaN
8,Dadra and Nagar Haveli and Daman and Diu,10653,10591,4,27,01/08/2021 20:51:08,31,DN,0,5,0,NaN
9,Delhi,1436350,1410714,25054,582,01/08/2021 20:06:06,0,DL,85,83,1,[July 14]: Value for the total tests conducted...
10,Goa,171205,167046,3148,1011,01/08/2021 19:11:13,0,GA,59,105,1,NaN
11,Gujarat,824900,814570,10076,254,01/08/2021 20:51:11,0,GJ,23,21,0,NaN
12,Haryana,769942,759589,9638,715,01/08/2021 20:30:58,0,HR,29,23,3,NaN
13,Himachal Pradesh,206161,201388,3505,1229,01/08/2021 20:06:54,39,HP,134,118,0,NaN
14,Jammu and Kashmir,321607,316017,4379,1211,01/08/2021 19:19:21,0,JK,145,109,1,NaN
15,Jharkhand,347173,341793,5128,252,31/07/2021 23:55:08,0,JH,0,0,0,NaN
16,Karnataka,2906999,2846244,36587,24144,01/08/2021 19:19:23,24,KA,1875,1502,25,NaN
17,Kerala,3411489,3226761,16838,167380,01/08/2021 19:55:00,510,KL,20728,17792,56,NaN
18,Ladakh,20338,20075,207,56,01/08/2021 09:53:08,0,LA,0,0,0,NaN
19,Lakshadweep,10195,10030,50,75,01/08/2021 20:42:04,40,LD,6,15,0,NaN
20,Madhya Pradesh,791828,781193,10513,122,31/07/2021 21:39:10,0,MP,0,0,0,[14 Oct'20]: 4469 confirmed cases and 4469 rec...
21,Maharashtra,6310194,6094896,132948,78962,01/08/2021 19:46:46,3388,MH,6479,4110,157,"[Dec 16]:10,218 duplicate cases & other state ..."
22,Manipur,99331,87360,1566,10405,01/08/2021 20:07:18,0,MN,832,957,10,[Dec 14]:824 out of 980 recovered cases are ba...
23,Meghalaya,65589,58450,1096,6043,01/08/2021 19:19:26,0,ML,589,501,11,NaN
24,Mizoram,38925,26759,150,12016,01/08/2021 19:59:47,0,MZ,861,372,2,NaN
25,Nagaland,27945,25244,570,1344,01/08/2021 20:07:12,787,NL,73,51,4,NaN
26,Odisha,978705,958601,6019,14085,01/08/2021 19:44:37,0,OR,1437,1773,64,[July 12th] :20 non-covid deaths reported in s...
27,Puducherry,121005,118228,1795,982,01/08/2021 19:28:16,0,PY,90,70,0,NaN
28,Punjab,599130,582332,16294,504,01/08/2021 21:44:14,0,PB,26,55,1,NaN
29,Rajasthan,953677,944478,8954,245,01/08/2021 20:31:33,0,RJ,10,13,0,NaN
30,Sikkim,26754,22686,345,3454,01/08/2021 19:29:00,269,SK,206,151,1,NaN
31,State Unassigned,0,0,0,0,19/07/2020 09:40:01,0,UN,0,0,0,MoHFW website reports that these are the 'case...
32,Tamil Nadu,2561587,2506961,34102,20524,01/08/2021 20:42:08,0,TN,1990,2156,26,[June 29 2021]: TN has introduced a new distri...
33,Telangana,644951,632080,3802,9069,31/07/2021 21:30:24,0,TG,0,0,0,[July 27] : Telangana bulletin for the previou...
34,Tripura,78580,74283,752,3482,01/08/2021 19:19:32,63,TR,222,224,0,[Aug 4]: Tripura bulletin for the previous day...
35,Uttar Pradesh,1708441,1684973,22756,712,01/08/2021 09:53:10,0,UP,0,0,0,[Jan 1]:As no bulletin was provided for 31'st ...
36,Uttarakhand,342161,328153,7362,609,01/08/2021 19:42:07,6037,UT,22,45,0,[Oct 30]: Metric of capturing the testing data...
37,West Bengal,1528720,1499597,18149,10974,01/08/2021 19:30:20,0,WB,701,827,13,NaN

In [3]:
response